<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Learning Time</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <section id="top-section">
            <div id="top-navbar">
                <table>
                    <tr>
                        <td>
                            <a href="login.html" id="links">Login</a>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        <section id="index-section_1">
            <div id="index-div_1">
                <h1 id="index-h1">Welcome to Weather Buddy</h1>
                <h3 id="index-h3">We will provide you with all the information that you need reagrding the weather in your region.</h3>
                <h4 id="index-h4">Developed by - Anurag Baliyan</h4>
                <script src="" async defer></script>
            </div>
            <div id="index-navbar">
                <table>
                    <tr>
                        <td>
                            <a href="index.html" id="links">Home</a>
                            <a href="index.html" id="links">Careers</a>
                            <a href="index.html" id="links">Take a Tour</a>
                            <a href="index.html" id="links">Community</a>
                            <a href="index.html" id="links">About Us</a>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </body>
</html>